@import "./styles/variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family:
    Inter,
    "Segoe UI",
    sans-serif;

  background: var(--background);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  line-height: 1.5;
}